* {
  /* outline: red 3px solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Serif", sans-serif;
}

:root {
  --body-color: #ecdcb0;
  --white-bg-color: #f5f5f5;
  --grey-bg-color: #7a8b99;
  --brown-bg-color: #6d4c3d;
  --green-color: #8cc084;

  --h1-font-size: 36px;
  --small-box-text-size: 16px;
  --big-box-text-size: 18px;

  --svg-height: 24px;
  --svg-width: 24px;
}

/* **** General settings ***/
body {
  background-color: var(--body-color);
  padding: 8px;
  min-height: 100vh;
}

/* *********************** */

/* index.html */
.main-container {
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 0.6fr 8.5fr;
}

.search-input-container {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  column-gap: 25px;
}

#search-bar {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.search-svg-container {
  align-self: center;
  margin-left: auto;
  padding: 0 10px 0 0;
}

.search-svg {
  height: 26px;
}

.library-txt-container h1 {
  text-align: center;
  font-weight: 700;
  border-bottom: 1.5px solid #000;
  font-size: 36px;
}

.library-txt-container {
  padding: 15px 0;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in;
}

a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.books-box,
.library-log-box,
.favorite-box {
  background-color: var(--white-bg-color);
  padding: 10px;
  border-radius: 15px;
}

[data-selected-box="true"] {
  background-color: #7a8b99;
  transform: scale(1.3);
}

.book-container-books-unavailable {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.plus-svg {
  height: 48px;
  width: 48px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.plus-svg:active {
  transform: scale(1.1);
}

.add-book-svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--green-color);
  cursor: pointer;
}

.add-book-txt-box p {
  font-size: 18px;
  font-weight: 500;
}

.book-container-books-available {
  display: grid;
  /* Change in JS when adding a new book */
  grid-template-rows: 0.8fr 0.1fr;
}

.book-list {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  max-height: 90%;
  overflow-y: auto;
}

.book-box {
  background-color: var(--green-color);
  border-radius: 10px;
}

.book-about-txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.book-about-txt-box h2 {
  padding: 5px 0 0 0;
}

.book-title,
.book-author,
.book-pages {
  border-bottom: 1px solid #000;
}

.book-options-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.add-to-favorite-box,
.mark-as-read-box,
.delete-box {
  background-color: var(--white-bg-color);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-new-book-container {
  align-self: center;
  justify-self: center;
  padding: 15px;
  background-color: var(--green-color);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.add-new-book-btn {
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
}

.add-new-book-btn:link:active {
  transform: scale(1.1);
}

/********* add-book.html ************/

.add-book-main-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  background-color: var(--grey-bg-color);
  padding: 10px;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.add-book-form input,
.add-book-form select {
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.yes-option {
  background-color: var(--green-color);
}

.no-option {
  background-color: var(--brown-bg-color);
}

.add-book-box {
  border-radius: 15px;
}

.add-book-btn {
  padding: 10px;
  font-size: 22px;
  width: 150px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  background-color: var(--green-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-book-btn:active {
  transform: scale(1.1);
}

/***********************************/

/* **** Library-log.html ********** */

.book-log-container {
  margin-top: 40px;
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #7a8b995e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.books-read-box,
.number-of-pages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.number-of-books-read-box,
.number-of-pages {
  padding: 15px;
  background-color: #dbdbdb7e;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.log-heading {
  border-bottom: 1.5px solid #000;
}

.motivation-box {
  padding: 15px;
  background-color: var(--green-color);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* ********************************* */

/* ****** search.html ***** */
.search-list {
  background-color: #6d4c3d;
}

/* Reusable classes */

.current-page {
  background-color: var(--grey-bg-color);
}

.display-none {
  display: none;
}

.option-svgs-size {
  height: 24px;
  width: 24px;
  transition: all 0.5s ease-in-out;
}

.favo-svg-clicked {
  fill: #ffc600;
  transform: rotate(360deg);
}

.read-svg-clicked {
  fill: #9ad1d4;
  transform: scale(1.4);
}

.deleted {
  fill: #ef233c;
  -webkit-animation: deleted 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: deleted 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes deleted {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes deleted {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.not-read {
  background-color: var(--brown-bg-color);
}

.read {
  background-color: var(--green-color);
}

.added {
  fill: var(--green-color);
  transform: scale(1.4);
}
/* ************ */
